.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//carousel-item
.carousel-item {
  max-height: 400px;
}

.carousel-item a {
  text-decoration: none;
  color: white;
  font-size: 32px;
}

//card categories
.card .card-title a {
  text-decoration: none;
  color: #212529;
}

//search tags
._search {
  position: relative;
}

._list-group {
  position: absolute;
  z-index: 9999999;
  width: 50%;
}


._list-group ul li {
  list-style-type: none;
  color: #10707f;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border: 0.5px solid #6d4780;
  border-radius: 3px;
  cursor: pointer;
}

//commmets like and dislike fa
._like {
  color: #60ff80;
  cursor: pointer;
  margin-right: 10px;
}
._dislike {
  color: #ff3f5e;
  cursor: pointer;
}
