
//carousel-item
.carousel-item {
  max-height: 400px;
}

.carousel-item a {
  text-decoration: none;
  color: white;
  font-size: 32px;
}

//card categories
.card .card-title a {
  text-decoration: none;
  color: #212529;
}